<div class="wds-global-navigation__{{type}} wds-dropdown">
	<div class="wds-dropdown__togle wds-global-navigation__dropdown-toggle">
		<span>{{i18n strings links.header.title.key}}</span>
		{{svg_inline 'icons' 'dropdown' class="wds-icon wds-icon-tiny wds-dropdown__toggle-chevron"}}
	</div>
	<div class="wds-dropdown__content wds-global-navigation__dropdown-content">
		<ul class="wds-list wds-is-linked">
			{{#each links.links as |link|}}
				<li><a href="{{link.href}}" class="wds-global-navigation__dropdown-link">{{i18n strings link.title.key}}</a></li>
			{{/each}}
		</ul>
	</div>
</div>
